
@media (max-width: 576px) {
    .custom-font-size {
        background: linear-gradient(135 deg ,rgba(255,255,0,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
      font-size: 25px;
      font-family: Helvetica, sans-serif;
      background-color:'white';
    }
  }
  
  @media (min-width: 577px) and (max-width: 829px) {
    .custom-font-size {
     background: linear-gradient(135 deg ,rgba(255,255,0,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
      font-size: 25px;
      color:#555;
      font-family: Helvetica, sans-serif;
      background-color:'white';
    }
  }
  
  @media (min-width: 830px) {
    .custom-font-size {
        background: linear-gradient(135 deg ,rgba(255,255,0,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
      font-size: 60px;
      color: #555;
      font-family: Helvetica, sans-serif;
      background-color:'white';
    }
  }
  .glass{
    
  }