.admin-header{
    background-color: black;
    color:white;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e")!important;
}


.admin-header .btn-close{
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e")!important;

}

.homePage{
    cursor: pointer;
}


label{
    padding: 1%;
    font-weight: bolder;
}

input{
    border: 1px solid black;

    padding: 1%;
}

.error-msg{
    color: red;
}

.modal-body{
    display: grid;
}

.success-button{
    background:#198754!important;
    color:white!important
}

.fail-button{
    color: rgb(0 0 0 / 38%)!important;
    background: #8080805e!important;
}
  
.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    color: black !important;
}