<!DOCTYPE html>
<html>
<head>
  <title>Create Admin</title>
</head>
<body>
    <h1>Create Admin</h1>
  <form method="POST"  action="/Admin/createAdmin">
    Username: <br>
    <input type="text" name="Username"> <br>
    Password: <br>
            <input type="password" name="Pass"> <br> 
    <button type="submit">Submit</button><br><br>  </form>
</body>
<body>

    <h1>get Pharma</h1>
    <form method="get"  action="/Admin/getPharmacist">
      Name: <br>
      <input type="text" name="Name"> <br>
      <button type="submit">Submit</button><br><br>  </form>
</body>
<body>
    <h1>get Patient</h1>
    <form method="get"  action="/Admin/getPatient">
      Name: <br>
        <input type="text" name="name"> <br>
      <button type="submit">Submit</button><br><br>  </form>
</body>
</html>