<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>for Admin Press</h1>
    <form method="get"  action="/Admin">
        <button type="submit">Submit</button><br><br>  </form>
</body>
<body>
    <h1>for Pharma Press</h1>
    <form method="get"  action="/Pharma">
        <button type="submit">Submit</button><br><br>  </form>
</body>
<body>
    <h1>for Patient Press</h1>
    <form method="get"  action="/Patient">
        <button type="submit">Submit</button><br><br>  </form>
</body>
</html>