<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>for Admin Press</h1>
    <form method="get"  action="/Admin">
        <button type="submit">Submit</button><br><br>  </form>
</body>
<body>
    <h1>for Pharma Press</h1>
    <form method="get"  action="/Pharma">
        <button type="submit">Submit</button><br><br>  </form>
</body>
<body>
    <h1>for Patient Press</h1>
    <form method="get"  action="/Patient">
        <a href="/PatientPage.ejs">
            <button type="submit">Submit</button>
        </a><br><br>  </form>
</body>
<input type="submit" id="simple_click" class="btn btn-secondary" value="Login"> <br><br>
            Don't have an account?<br>
            <a href="register/patient">Register as a Patient</a><br>
            <a href="register/doctor">Register as a Pharmacist</a>
</html>