<!DOCTYPE html>
<html>
<head>
  <title>Patient Page</title>
</head>



<body>
  <h1>Search for a medicine using name</h1>
    Name: <br>
      <input type="text" name="Name" id="medName"> <br>
      <button type="submit" onclick="searchForMedicine()"> Get All</button>
      <div id="medicine_info"></div>
</body>
<body>
  <h1>Filter Medicine</h1>

  <input type="text" name="MedicalUse" placeholder="MedicalUse" id="MedicalUse">
  <button type="submit" onclick="filterMedicines()"> Get All</button>
  <div id="medicine_filter"></div>
  <h2>GET ALL MEDICINES INFOO<h2>
    <button type="submit" onclick="getAllMedicines()"> Get All</button>
    <div id="medicine_list"></div>
  <script>
    //getAllMedicines()
    async function getAllMedicines() {
              try {
                // PICTURE , PRICE , DESCRIPTION
  
                  // Remove the colon from the URL placeholder
                  var response = await fetch(`http://localhost:8000/Admin/getAllMedicine/`);
                  var res = await response.json();
  
  
                  if (!res.success)
                      return alert(res.message);
  
                  var list = res.Result
                  //console.log(list)
                  var cartoona = ''
                 for (let i = 0; i < list.length; i++) {
                  
                  if(!list[i].Picture)
                    continue

                    
                    console.log(list[i]);
                      cartoona += `
                      <ul>
                        <li><strong>Pic:</strong>
                          <img src= "/Pharma/get-image/${list[i]?._id}">
                  </li>
                  <li>Name: ${list[i].Name}
                  </li>
                  <li><strong>Price:</strong>
                      ${list[i].Price}
                  </li>
                  <li><strong>Quantity:</strong>
                      ${list[i].Quantity}
                  </li>
                  <li><strong>Sales:</strong>
                      ${list[i].Sales}
                  </li>
                  <li><strong>Active Ingredients:</strong>
                      ${list[i].ActiveIngredients}
                  </li>
                  <li><strong>Medical Use:</strong>
                      ${list[i].MedicalUse}
                  </li>
          </ul>`
                  }
  
                  var element = document.getElementById('medicine_list')
                  element.innerHTML = cartoona

             // }
                }
              catch (error) {
                  console.error('Error fetching patient data:', error);
              }
          }

          async function searchForMedicine() {
              try {
                // PICTURE , PRICE , DESCRIPTION
                  var name=document.getElementById('medName').value
                  // Remove the colon from the URL placeholder
                  var response = await fetch(`http://localhost:8000/patient/getMedicine/${name}`);
                  var res = await response.json();
  
  
                  if (!res.success)
                      return alert(res.message);
  
                  var list = res.Result
                  console.log(list)
                  var cartoona = ''
                  
                  

                    
                    console.log(list);
                      cartoona += `
                      <ul>
                        <li><strong>Pic:</strong>
                          <img src= "/Pharma/get-image/${list?._id}">
                  </li>
                  <li>Name: ${list.Name}
                  </li>
                  <li><strong>Price:</strong>
                      ${list.Price}
                  </li>
                  <li><strong>Quantity:</strong>
                      ${list.Quantity}
                  </li>
                  <li><strong>Sales:</strong>
                      ${list.Sales}
                  </li>
                  <li><strong>Active Ingredients:</strong>
                      ${list.ActiveIngredients}
                  </li>
                  <li><strong>Medical Use:</strong>
                      ${list.MedicalUse}
                  </li>
          </ul>`
                  
  
                  var element = document.getElementById('medicine_info')
                  element.innerHTML = cartoona

             // }
                }
              catch (error) {
                  console.error('Error fetching patient data:', error);
              }
          }
          async function filterMedicines() {
              try {
                // PICTURE , PRICE , DESCRIPTION
                  var MedicalUse=document.getElementById('MedicalUse').value
                  console.log(MedicalUse)
                  // Remove the colon from the URL placeholder
                  var response = await fetch(`http://localhost:8000/patient/filterMedical/${MedicalUse}`);
                  var res = await response.json();
  
  
                  if (!res.success)
                      return alert(res.message);
  
                  var list = res.Result
                  console.log(list)
                  var cartoona = ''
                  
                  for (let i = 0; i < list.length; i++) {
                  
                  if(!list[i].Picture)
                    continue

                    
                    console.log(list[i]);
                      cartoona += `
                      <ul>
                        <li><strong>Pic:</strong>
                          <img src= "/Pharma/get-image/${list[i]?._id}">
                  </li>
                  <li>Name: ${list[i].Name}
                  </li>
                  <li><strong>Price:</strong>
                      ${list[i].Price}
                  </li>
                  <li><strong>Quantity:</strong>
                      ${list[i].Quantity}
                  </li>
                  <li><strong>Sales:</strong>
                      ${list[i].Sales}
                  </li>
                  <li><strong>Active Ingredients:</strong>
                      ${list[i].ActiveIngredients}
                  </li>
                  <li><strong>Medical Use:</strong>
                      ${list[i].MedicalUse}
                  </li>
          </ul>`
                  }
                  var element = document.getElementById('medicine_filter')
                  element.innerHTML = cartoona

             // }
                }
              catch (error) {
                  console.error('Error fetching patient data:', error);
              }
          }
    </script>
</body>
</html>