<!doctype html>
<html>
<head>
  <title>Pharmacist and Medicine Manager</title>
</head>
<body>
  <h1>Pharmacist and Medicine Manager</h1>
  <h2>Create a Pharmacist</h2>
  <form action="/Pharma/createPharmacist" method="POST">
    <input type="text" name="Username" placeholder="Username">
    <input type="text" name="Name" placeholder="Name">
    <input type="email" name="Email" placeholder="Email">
    <input type="password" name="Password" placeholder="Password">
    <input type="date" name="DateOfBirth" placeholder="Date of Birth">
    <input type="number" name="HourlyRate" placeholder="Hourly Rate">
    <input type="text" name="Affiliation" placeholder="Affiliation">
    <input type="text" name="EducationalBackground" placeholder="Educational Background">
    <input type="text" name="Position" placeholder="Position">
    <button type="submit">Create Pharmacist</button>
  </form>

  <h2>Add a Medicine</h2>
  <form action="/Pharma/addMedicine" method="POST" enctype="multipart/form-data">
    <input type="text" name="Name" placeholder="Name">
    <input type="number" name="Price" placeholder="Price">
    <input type="number" name="Quantity" placeholder="Quantity">
    <input type="text" name="ActiveIngredients" placeholder="Active Ingredients">
    <input type="text" name="MedicalUse" placeholder="Medical Use">
    <input type="file" name="photo">
    <button type="submit">Add Medicine</button>
</form>
  <h2>Edit a Medicine</h2>
  <form action="/Pharma/editMedicine" method="get">
    <input type="text" name="medicineName" placeholder="Medicine Name">
    <input type="number" name="newPrice" placeholder="New Price">
    <input type="text" name="newIngredients" placeholder="New Ingredients">
    <button type="submit">Edit Medicine</button>
  </form>
  <h2>Get All Meds SALES + Quantity</h2>
  <form action="/Pharma/getinfoMeds" method="get">
    <button type="submit">Get All Meds</button>
  </form>

  <h2>Sell Medicine</h2>
  <form action="/Pharma/sellMedicine" method="get">
    <input id="medicineName" name="medicineName" type="text" placeholder="Medicine Name">
    <button type="submit">Sell Medicine</button>
  </form>
  <h1>Filter Medicine</h1>

  <input type="text" name="MedicalUse" placeholder="MedicalUse" id="MedicalUse">
  <button type="submit" onclick="filterMedicines()"> Get All</button>
  <div id="medicine_filter"></div>
  
<body>
  <h1>Search for a medicine using name</h1>
    Name: <br>
      <input type="text" name="Name" id="medName"> <br>
      <button type="submit" onclick="searchForMedicine()"> Get All</button>
      <div id="medicine_info"></div>
</body>
<h2>GET ALL MEDICINES INFOO<h2>
  <button type="submit" onclick="getAllMedicines()"> Get All</button>
  <div id="medicine_list"></div>
  <script>
    //getAllMedicines()
    async function getAllMedicines() {
              try {
                // PICTURE , PRICE , DESCRIPTION
  
                  // Remove the colon from the URL placeholder
                  var response = await fetch(`http://localhost:8000/Admin/getAllMedicine/`);
                  var res = await response.json();
  
  
                  if (!res.success)
                      return alert(res.message);
  
                  var list = res.Result
                  //console.log(list)
                  var cartoona = ''
                 for (let i = 0; i < list.length; i++) {
                  
                  if(!list[i].Picture)
                    continue

                    
                    console.log(list[i]);
                      cartoona += `
                      <ul>
                        <li><strong>Pic:</strong>
                          <img src= "/Pharma/get-image/${list[i]?._id}">
                  </li>
                  <li>Name: ${list[i].Name}
                  </li>
                  <li><strong>Price:</strong>
                      ${list[i].Price}
                  </li>
                  <li><strong>Quantity:</strong>
                      ${list[i].Quantity}
                  </li>
                  <li><strong>Sales:</strong>
                      ${list[i].Sales}
                  </li>
                  <li><strong>Active Ingredients:</strong>
                      ${list[i].ActiveIngredients}
                  </li>
                  <li><strong>Medical Use:</strong>
                      ${list[i].MedicalUse}
                  </li>
          </ul>`
                  }
  
                  var element = document.getElementById('medicine_list')
                  element.innerHTML = cartoona

             // }
                }
              catch (error) {
                  console.error('Error fetching patient data:', error);
              }
          }
          async function filterMedicines() {
              try {
                // PICTURE , PRICE , DESCRIPTION
                  var MedicalUse=document.getElementById('MedicalUse').value
                  console.log(MedicalUse)
                  // Remove the colon from the URL placeholder
                  var response = await fetch(`http://localhost:8000/patient/filterMedical/${MedicalUse}`);
                  var res = await response.json();
  
  
                  if (!res.success)
                      return alert(res.message);
  
                  var list = res.Result
                  console.log(list)
                  var cartoona = ''
                  
                  for (let i = 0; i < list.length; i++) {
                  
                  if(!list[i].Picture)
                    continue

                    
                    console.log(list[i]);
                      cartoona += `
                      <ul>
                        <li><strong>Pic:</strong>
                          <img src= "/Pharma/get-image/${list[i]?._id}">
                  </li>
                  <li>Name: ${list[i].Name}
                  </li>
                  <li><strong>Price:</strong>
                      ${list[i].Price}
                  </li>
                  <li><strong>Quantity:</strong>
                      ${list[i].Quantity}
                  </li>
                  <li><strong>Sales:</strong>
                      ${list[i].Sales}
                  </li>
                  <li><strong>Active Ingredients:</strong>
                      ${list[i].ActiveIngredients}
                  </li>
                  <li><strong>Medical Use:</strong>
                      ${list[i].MedicalUse}
                  </li>
          </ul>`
                  }
                  var element = document.getElementById('medicine_filter')
                  element.innerHTML = cartoona

             // }
                }
              catch (error) {
                  console.error('Error fetching patient data:', error);
              }
          }
          async function searchForMedicine() {
              try {
                // PICTURE , PRICE , DESCRIPTION
                  var name=document.getElementById('medName').value
                  // Remove the colon from the URL placeholder
                  var response = await fetch(`http://localhost:8000/patient/getMedicine/${name}`);
                  var res = await response.json();
  
  
                  if (!res.success)
                      return alert(res.message);
  
                  var list = res.Result
                  console.log(list)
                  var cartoona = ''
                  
                  

                    
                    console.log(list);
                      cartoona += `
                      <ul>
                        <li><strong>Pic:</strong>
                          <img src= "/Pharma/get-image/${list?._id}">
                  </li>
                  <li>Name: ${list.Name}
                  </li>
                  <li><strong>Price:</strong>
                      ${list.Price}
                  </li>
                  <li><strong>Quantity:</strong>
                      ${list.Quantity}
                  </li>
                  <li><strong>Sales:</strong>
                      ${list.Sales}
                  </li>
                  <li><strong>Active Ingredients:</strong>
                      ${list.ActiveIngredients}
                  </li>
                  <li><strong>Medical Use:</strong>
                      ${list.MedicalUse}
                  </li>
          </ul>`
                  
  
                  var element = document.getElementById('medicine_info')
                  element.innerHTML = cartoona

             // }
                }
              catch (error) {
                  console.error('Error fetching patient data:', error);
              }
          }
  
    </script>
</body>
</html>

