<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            /* background-image: url("background2.jpg"); */
            background-repeat: no-repeat;
            background-size: 100%;
            }
        h1,h3 {
            text-align: center;
        }
        .box {
    inline-size: 450px;
    overflow-wrap: break-word;
}
        .cont {
            position:relative;
            left:600px;
            top:50px;
           
        }
    </style>
   
    <title>Sign up</title>
   
</head>
<body>
   
        <h1>pharmacist's Registeration</h1>
        <h3>you will receive acceptance/ rejection to you request in 2-3 days</h3>
    <div class="cont">
        <form method='post' action='/register/pharmacist'>
            Username: <br>
            <input type="text" id="user" name="username"> <br>
            Name: <br>
            <input type="text" id="name" name="name"> <br>
            Email: <br>
            <input type="text" id="email" name="email"> <br>
            Password: <br>
            <input type="password" id="password" name="password"> <br> 
            Date of birth: <br>
            <input type="date" id="dob" name="dob"> <br>
            Hourly Rate: <br>
            <input type="number" id="hourlyRate" name="hourlyRate"> <br>
            Affiliation (hospital): <br>
            <input type="text" id="affiliation" name="affiliation"> <br>
            Educational Background: <br>
            <input type="text" id="education" name="education"> <br>
            <br>
            <br>
            <input type="submit" id="simple_click" class="btn btn-secondary" value="Submit"> <br>
            <div class="box">
                <p style="color: red;text-align: left;"><%= message %></p>
                </div>
        </form>
    </div>
</body>

</html>