<!doctype html>
<html>
<head>
  <title>Pharmacist and Medicine Manager</title>
</head>
<body>
  <h1>Pharmacist and Medicine Manager</h1>
  <h2>Create a Pharmacist</h2>
  <form action="/Pharma/createPharmacist" method="POST">
    <input type="text" name="Username" placeholder="Username">
    <input type="text" name="Name" placeholder="Name">
    <input type="email" name="Email" placeholder="Email">
    <input type="password" name="Password" placeholder="Password">
    <input type="date" name="DateOfBirth" placeholder="Date of Birth">
    <input type="number" name="HourlyRate" placeholder="Hourly Rate">
    <input type="text" name="Affiliation" placeholder="Affiliation">
    <input type="text" name="EducationalBackground" placeholder="Educational Background">
    <input type="text" name="Position" placeholder="Position">
    <button type="submit">Create Pharmacist</button>
  </form>

  <h2>Add a Medicine</h2>
  <form action="/Pharma/addMedicine" method="POST">
    <input type="text" name="Name" placeholder="Name">
    <input type="number" name="Price" placeholder="Price">
    <input type="number" name="Quantity" placeholder="Quantity">
    <input type="text" name="ActiveIngredients" placeholder="Active Ingredients">
    <input type="text" name="MedicalUse" placeholder="Medical Use">
    <button type="submit">Add Medicine</button>
  </form>
  <h2>Edit a Medicine</h2>
  <form action="/Pharma/editMedicine" method="get">
    <input type="text" name="medicineName" placeholder="Medicine Name">
    <input type="number" name="newPrice" placeholder="New Price">
    <input type="text" name="newIngredients" placeholder="New Ingredients">
    <button type="submit">Edit Medicine</button>
  </form>
  <h2>Edit info on Medicine</h2>
  <form action="/Pharma/getinfoMeds" method="get">
    <button type="submit">Edit Medicine</button>
  </form>
</body>
</html>